	
@media screen and (max-width:480px) {


.green-slant {
	display: none;
}

header {
	/*height:50px;*/
	width:100%;
	/*background: rgba(179, 90, 42, 1); */
	background: rgba(218, 119, 68, 1); 
}

header img {
	max-width: 80%;
}

.mosaic {
	width:100%;
	height:50%;
	/*border: 1px solid white;*/
	background-image: url('imgs/mosaic.png');
	background-repeat: no-repeat;
	background-size: cover;

}

.mosiac img {
	max-width:100%;

}



} /* End 480 */ 