body {
    margin: 0;
    background-image: url('../img/white.svg');
    background-position: center 105%;
    background-repeat: no-repeat;
    margin-bottom: 400px;
}

.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-inline {
    margin-left: 0px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav> li>a {
    background-color: transparent;
    color: #333
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #5f5f5f;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
    height: 3px;
}

li {
    display: inline;
    text-transform: uppercase;
    font-family: helvetica;
}

#container {
    width: 960px;
    border: 1px solid black;
    margin: 0 auto;
    /*overflow: hidden;*/
    /*height:1000px;*/
    
    background: rgb(245, 246, 228);
    /* Old browsers */
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 246, 228, 1)), color-stop(100%, rgba(234, 219, 193, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(left, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: -webkit-linear-gradient(left, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    background: linear-gradient(to right, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f6e4', endColorstr='#eadbc1', GradientType=1);
    /* IE6-9 */
    
    background: none;
}

header {
    /*height:500px;*/
    /*	background-image: url('../img/storiesBG.jpg');*/
    
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    float: right;
    margin: 0;
}

li {
    text-transform: uppercase;
    font-family: helvetica;
}

.list-inline>li {
    padding: 0px;
}

.banner-left {
    position: relative;
    height: 130px;
    width: 94vw;
    background-color: #b35a2a;
    top: 9px;
    background: rgba(179, 90, 42, 0.78);
}

.bent-left {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 3vw;
    height: 130px;
    background: rgba(179, 90, 42, 0.9);
    -webkit-transform: skewY(-30deg);
    -moz-transform: skewY(-30deg);
    -o-transform: skewY(-30deg);
    z-index: 1;
    margin-top: 20px;
}

.bent-right {
    position: absolute;
    right: 0px;
    width: 3vw;
    height: 130px;
    background: rgba(179, 90, 42, 0.9);
    -webkit-transform: skewY(30deg);
    -moz-transform: skewY(30deg);
    -o-transform: skewY(30deg);
    z-index: 1;
    margin-top: 20px;
}

.banner-left p {
    color: white;
    opacity: 1.0;
    /*line-height: 85px;*/
    
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    /*-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);*/
}

.banner-left span {
    font-size: 36px;
    display: block;
    line-height: 20px;
    text-transform: none;
    font-weight: normal;
    margin-left: 100px;
    color: #475236;
    font-weight: bold;
}

.opacity-bg {
    /*margin-top: 200px;*/
    /*position: fixed;*/
    
    width: 510px;
    margin-left: 30px;
    margin-top: 10px;
    float: right;
}

.opacity-bg p {
    font-size: 18px;
    font-family: helvetica;
    color: #000;
    opacity: 1;
    line-height: 25px;
    /*z-index: 200;*/
    
    background: rgba(204, 204, 204, 0.5);
}

.author {
    float: right;
    font-weight: bold;
    margin-right: 20px;
}

article {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    float: left;
    padding: 20px;
    padding-top: 0;
}

#img-bottom {
    float: right;
    padding: 20px;
    padding-top: 0;
}

aside {
    float: left;
    width: 200px;
    color: #475236;
    font-size: 18px;
}

.next-section {
    /*border: 1px solid black;*/
    
    text-align: center;
}

.next-section ul {
    /*border: 1px solid black;*/
    
    display: inline-block;
    margin: 0;
    padding: 0;
}

.next-section li {
    float: left;
    /*width: 275px;*/
    
    text-transform: none;
    margin: 20px;
    padding: 0;
    /*border: 1px solid black;*/
}

.next-section h5 {
    /*border: 1px solid black;*/
    
    margin: 0;
    float: right;
    margin-right: 38px;
}

.next-section p {
    /*border: 1px solid black;*/
    
    font-size: 14px;
}

.next-section img {
    padding: 0;
    /*border: 1px solid black;*/
}