/* General */
html,
body {
    overflow-x: hidden;
    max-width: 1400px;
}

body {
    max-width: 1400px;
    margin: 0;
    font-family: open sans, sans-serif;
    background: rgba(255, 255, 255, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(72%, rgba(240, 235, 210, 1)), color-stop(100%, rgba(229, 210, 186, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(240, 235, 210, 1) 72%, rgba(229, 210, 186, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(240, 235, 210, 1) 72%, rgba(229, 210, 186, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5d2ba', GradientType=1);
    background-image: url(../img/white.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center 100%;
}



.container {
    padding: 50px;
    top: -20px;
    position: relative;
}
/* Navigation */

.navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 15px;
}

.navbar-default .navbar-nav> li>a {
    background-color: transparent;
   /* color: darkgreen;*/
    color:#333;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav> li {
    padding: 0px;
}

.active {
    /*background-color: rgba(143, 107, 42, 0.8);*/
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #333;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
    height: 3px;
}

li {
    display: inline;
    padding: 10px;
    font-family: helvetica;
}
/*header */

header {
    height: 550px;
    background-image: url('../img/storiesBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-left {
    height: 85px;
    /*background-color:#b35a2a;*/
    
    padding-left: 70px;
    position: relative;
    right: 50px;
    -webkit-transform: skew(225deg);
    -moz-transform: skew(225deg);
    -o-transform: skew(225deg);
    /*background: #b35a2a;*/
    background: rgba(218, 119, 68, 1);
    width: 700px;
}

.banner-left h1 {
    color: white;
    font-size: 4em;
    opacity: 1.0;
    margin-top: 0;
    line-height: 85px;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    -webkit-transform: skew(-225deg);
    -moz-transform: skew(-225deg);
    -o-transform: skew(-225deg);
}

.banner-left span {
    font-size: 0.5em;
}

#caption {
    font-size: 18px;
    font-family: open sans;
    font-weight: 300;
    font-style: italic;
    color: #000;
    margin-top: 20px;
    padding: 10px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.42);
}
/* Body */

.subtitles {
    color: #cc663c;
}

#thumbnail {
    box-shadow: -5px 5px 30px #7c7c7c;
    margin-bottom: 15px;
}

#stories {}

#stories h2 {
    margin-left: -100px;
}

#stories2 {
    padding-bottom: 400px;
}

#video-leads {
    /*height:1000px;*/
    
    background: rgb(245, 246, 228);
    /* Old browsers */
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 246, 228, 1)), color-stop(100%, rgba(234, 219, 193, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(left, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: -webkit-linear-gradient(left, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    background: linear-gradient(to right, rgba(245, 246, 228, 1) 0%, rgba(234, 219, 193, 1) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( start`Colorstr='#f5f6e4', endColorstr='#eadbc1', GradientType=1);
    /* IE6-9 */
}

footer {
    background: #000;
}

footer img {
    width:5%;
    margin-left: 1%;
}


.wrapper {
    text-align: center;
}

.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.wrapper li {
    float: left;
    width: 275px;
    text-transform: none;
    /*border: 1px solid black;*/
    
    text-align: center;
    padding-left: 30px;
    padding-left: 30px;
}

.wrapper h1 {
    text-transform: uppercase;
}

.video-wrapper {
    text-align: center;
}

.video-wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.video-wrapper li {
    float: left;
    width: 275px;
    text-transform: none;
    /*border: 1px solid black;*/
    
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.video-wrapper li:last-child {
    float: right;
    width: 275px;
    text-transform: none;
    /*border: 1px solid black;*/
    
    text-align: center;
    /*padding-left: 20px;*/
    
    padding-right: 35px;
}

.video-wrapper h1 {
    font-size: 18px;
    float: left;
}

/* Breakpoints */

@media (max-width: 1183px) {
    #stories2 {
        padding-bottom: 640px;
    }
}

@media (max-width: 992px) {
    #stories2 {
        padding-bottom: 0px;
    }
    .banner-left h1 {
        font-size: 2em;
        padding-left: 50px;
    }
}