	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
	}

	#section0{
		overflow: hidden;
	}

	#section1{
		overflow: hidden;
	}

	#section2{
		z-index: 350;
		overflow: hidden;


	}
	#section3{
		z-index: 360;
	}
	#section3 h1{
		color: #000;
	}

#fullpage {
	max-width: 1400px;
	margin: 0 auto;
	

}



	/* Augie's code */

@media screen and (min-width: 415px) {

body {
	/*background-color: #626953;*/
	/*background-image: url(../img/greenCompressed.svgz);*/
	/*background-image: url(../img/green.svg);*/
	/*background-image: url(../img/backgorund_illustrationWhiteBg.svg);*/
	/*background-image: url(../img/greeni.svg);*/
	background-image: url(../img/greeni.png);
	background-size: cover;
	/*background-clip: border-box;*/
   	background-position: -5px -5px;
	

}

/*.no-svg body {
	background-image: url(../img/greeni.png);
}
*/

.container {
	/*border: 1px solid black;*/
	/*width:960px;*/
	height: 100%;
	/*margin: 0 auto;*/
	/*background-color: #626953;*/
	overflow: hidden;
	/*background: url(../img/greenCompressed.svgz);*/
	background-size: cover;


}

header {
	width:100%;
	height:10%;
	background: rgba(218, 119, 68, 1); 
	/*background-image: url('../img/centennialBeige.svg');*/
}

header img {
	width:10%;
	height: 100%;
}



.green-slant {
	width:100%;
	height: 100%;
	-webkit-transform: skew(30deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);
	background: #475131;
	/*float: right;*/
	/*margin-right: -55%;
	margin-top: -50%*/
	box-shadow: 0 0 10px 1px #000;
	position:absolute;
	top:0;
	left:60%;

}

nav ul {
	list-style-type: none;
   /* float: right;
    margin-right: 60px;*/
    margin-left: 17%;
    margin-right: 3%;
    -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
}

nav ul li {
	display: inline;
	padding: 2%;	
}

nav ul li a {
	text-decoration: none;
	color: rgba(218, 119, 68, 1);
	font-family: helvetica;
	font-size: 1.5vw;
	max-font-size:16px;
	min-font-size:12px;
}

.intro h1 {

	font-size: 5vw;
	max-font-size:60px;
	font-family: helvetica;
	color: #fff;
	/*margin-left: 200px;*/
	margin-left: 15%;
	text-transform: uppercase;

	 -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
}

.intro h1 span {

	font-size: 5vw;
	max-font-size:60px;
	display: block;
	/*margin-left: 112px;*/
	margin-left: 13%;
	/*float: right;*/
	color: #fff;
	text-transform: uppercase;
	
}

.intro p {

	font-size: 1.5vw;
	max-font-size:18px;
	min-font-size:12px;
	font-family: helvetica;
	color: #fff;
	width:23%;
	margin-left: 100px;
	margin-left: 10%;
	line-height: 23px;
	text-align: right;


	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
	
}

.mosaic {
	width:100%;
	height: 100%;
	/*background-image: url('imgs/mosaic.png');*/
	background-image: url('../img/runner.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.mosiac img {
	max-width:100%;

}

.scrollArrow {
	position: absolute;
	top:90%;
	width:100%;
	text-align: center;
	/*background-color: red;*/
}

.arrow {
	max-width:5%;
}

.overlay {
	/*z-index: 10;*/
	/*position: fixed;*/
	position: absolute;
	/*width:960px;*/
	overflow: hidden;
	width:100%;
}

#left {
	max-width: 100%;
	position: absolute;
	
}

#right {
	max-width: 100%;
	position: relative;
	z-index: 300;
	
}



#left1 {
	max-width: 100%;
	position: absolute;
	z-index: 200;

}

#right1 {
	max-width: 100%;
	position: relative;
	z-index: 300;
	

}

#left2 {
	max-width: 100%;
	position: absolute;
	z-index: 200;
}

#right2 {
	max-width: 100%;
	position: relative;
	z-index: 300;
	
}

#left-side {
	/*border: 1px solid white;*/
	width:49%;
	float: left;
}

#right-side {
	/*border: 1px solid white;*/
	width:50%;
	float:left;
	margin-top: 2%;
	/*margin-bottom:10%;*/
}




.banner-left {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:100%;
	margin-top: 12%;
	margin-left: -5%;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	line-height: 10px;
	padding-bottom: 10%;
	/*border: 1px solid blue;*/

}

.banner-left2 {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:100%;
	margin-left:-5%;
	margin-top: 12%;
	position: relative;
	z-index: 200;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left2 p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 17%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left2 span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	padding-bottom: 10%;
	line-height: 10px;
	margin-left: 30%;
	/*border: 1px solid blue;*/

}

.banner-left3 {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:93%;
	margin-left:-5%;
	margin-top: 8%;
	position: relative;
	z-index: 200;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left3 p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left3 span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	padding-bottom: 10%;
	line-height: 15px;
	/*text-transform: uppercase;*/
	/*margin-left: 15%;*/
	/*border: 1px solid blue;*/

}

.text-background {
	width:90%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	margin-left: 5%;
}


.text-background p {
	font-size: 1.5vw;
	min-font-size:12px;
	line-height: 150%;
	color:#fff;
	padding: 2%;
	font-family: helvetica;
}

.text-background2 {
	width:100%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	/*border: 1px solid white;*/
}


.text-background2 p {
	font-size: 1.5vw;
	min-font-size:12px;
	line-height: 150%;
	color:#fff;
	padding: 2%;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: helvetica;
	/*border: 1px solid white;*/
}

.text-background3 {
	width:100%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	/*border: 1px solid white;*/
}


.text-background3 p {
	font-size: 1.5vw;
	min-font-size:12px;
	line-height: 150%;
	color:#fff;
	padding: 1%;
	font-family: helvetica;
	/*border: 1px solid white;*/
}


.banner-right {


	background: rgba(218, 119, 68, 0.9);
	width:40%;
	float: right;
	margin-right: -20px;
	display: block;
	/*padding-left: 3%;*/
	z-index: 200;
	/*border: 1px solid red;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);


}

.banner-right p {

	color:white;
	font-size: 1.5vw;
	opacity: 1.0;
	margin: 0;
	padding: 1.5%;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';

	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	 }

#vid1 {
	/*border:1px solid white;*/
	float: right;
	/*width:40%;*/
	max-width:35%;
	margin-bottom: 2%;
	position: relative;
	right:-45%;

}

#vid2 {
	/*border:1px solid white;*/
	float: right;
	/*width:40%;*/
	max-width:35%;
	margin-bottom: 2%;
	position: relative;
	right:-45%;

}

#vid3 {
	/*border:1px solid white;*/
	float: right;
	/*width:40%;*/
	max-width:35%;
	margin-bottom: 2%;
	position: relative;
	right:-45%;

}

#bannerRight1 {
	position: relative;
	padding:0;
}

#bannerRight2 {
	position: relative;
}

#bannerRight3 {
	position: relative;
}


.subCopy {
	float:right;
	font-size: 1.3vw;
	min-font-size: 12px;
	width:40%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 3%;
	position: relative;
	right:-75%;
	

}

.subCopy2 {
	float:right;
	font-size: 1.3vw;
	min-font-size:12px;
	width:40%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 3%;
	position: relative;
	right:-75%;
	/*display: none;*/

}

.subCopy3 {
	float:right;
	font-size: 1.3vw;
	min-font-size:12px;
	width:40%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 3%;
	position: relative;
	right:-75%;
	/*display: none;*/

}


#storiesTop {
	/*width:100%;*/
	/*height:50%;*/
	/*border: 1px solid yellow;*/
}

#storiesTop img {
	float:right;
	width:35%;
	margin-right:2%;
	margin-top: 10%;
	/*border:1px solid black;*/
	/*margin-bottom:30%;*/

}

.left-side {
	float:left;
	/*border:1px solid black;*/
	width:58%;
}

.read-more {
	font-size: 1.5vw;
	color: rgba(218, 119, 68, 1); 
	text-align: left;
	font-family: helvetica;
	font-weight: bold;
	margin: 0;
	/*display: none;*/


}

.read-more a {
	font-size: 1.5vw;
	color: rgba(218, 119, 68, 1); 
	text-align: right;
	font-family: helvetica;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	position: relative;

	
}

#storiesBottom img  {
	margin: 10px;
	float: right;
	margin-right: 2%;
	width:15%;
	/*width:10%;*/

}

#storiesBottom  {
	width:100%;
	/*border: 1px solid blue;*/
	/*margin-top: 5%;*/

}


#leftJobs {
	width:53%;
	/*border: 1px solid blue;*/
	float: left;

}

#leftJobs ul {
	margin: 0;
	padding: 1%;
}


#leftJobs li {
	font-size: 20px;
	color:rgba(179, 90, 42, 1);
	color: rgba(218, 119, 68, 1);
	text-align: left;
	list-style-type: none;
	margin: 5px;
	font-family: helvetica;
	font-size: 1.5vw;
	position: relative;

}

#leftJobs li a {
	font-size: 20px;
	color:rgba(179, 90, 42, 1);
	color: rgba(218, 119, 68, 1);
	text-align: left;
	list-style-type: none;
	margin: 5px;
	font-family: helvetica;
	font-size: 1.5vw;
	position: relative;
	text-decoration: none;

}

#rightJobs {

	/*border: 1px solid red;*/
	width:45%;
	float:right;
	/*margin-top: 5%;*/
	/*margin-top:2%;*/

}

#horizontalImg {
	width:80%;
}


#rightJobs img {
	padding: 2%;
	margin-right: 5%;
	width:40%;
	float: right;
}


#rightJobs #horizontalImg {
	width:75%;
}

#rightJobs #viewImage{
	margin-right: 0;
}

footer {
	width:100%;
	background-color:#000;
	bottom:0px;
    position: absolute;
    z-index: 500;
    height:6%;
    margin-top: 5%;
}

footer img {
	/*width:1%;*/
	height:90%;
	padding: 0.3%;	
}

footer a {
	color:white;
	font-family: helvetica;
	float: right;
	font-size:0.5em;
	line-height: 40px;
	text-decoration: none;
	margin-right:3%;

}

} /* End min 415 */


@media screen and (min-width: 320px) and (max-width: 414px) {


body {
	/*background-color: #626953;*/
	/*background-image: url(../img/greenCompressed.svgz);*/
	/*background-image: url(../img/green.svg);*/
	/*background-image: url(../img/backgorund_illustrationWhiteBg.svg);
	background-image: url(../img/green.svg);*/
	background-image: url(../img/greeni.png);
	background-size: cover;
	

}


.container {
	border: 1px solid black;
	/*width:960px;*/
	height: 100%;
	/*margin: 0 auto;*/
	/*background-color: #626953;*/
	overflow: hidden;
	/*background: url(../img/greenCompressed.svgz);*/
	background-size: cover;


}

/*header {
	width:100%;
	height:10%;
	background: rgba(218, 119, 68, 1); 
	background-image: url('img/centennialBeige.svg');
	background-size: cover;
}

header img {
	max-width: 50%;
}*/

header {
	width:100%;
	height:10%;
	background: rgba(218, 119, 68, 1); 
	/*background-image: url('../img/centennialBeige.svg');*/
}

header img {
	width:10%;
	height: 100%;
}


.green-slant {
	width:100%;
	height: 100%;
	/*-webkit-transform: skew(30deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);
	background: #475131;
	/*float: right;*/
	/*margin-right: -55%;
	margin-top: -50%*/
	box-shadow: 0 0 10px 1px #000;
	margin-top:-5%;
	/*position:absolute;
	top:0;
	left:60%;*/

}

nav ul {
	list-style-type: none;
   /* float: right;
    margin-right: 60px;*/
    margin-left: 17%;
    display: none;
    -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
}

nav ul li {
	display: inline;
	padding: 2%;	
}

nav ul li a {
	text-decoration: none;
	color: rgba(218, 119, 68, 1);
	font-family: helvetica;
	font-size: 1.5vw;
}

.intro h1 {

	font-size: 5vw;
	font-family: helvetica;
	color: #fff;
	/*margin-left: 200px;*/
	/*margin-left: 15%;*/
	text-transform: uppercase;
	text-align: center;
	padding-top: 5%;

	 /*-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);*/
}

.intro h1 span {

	font-size: 5vw;
	/*display: block;*/
	/*margin-left: 112px;*/
	/*margin-left: 13%;*/
	/*float: right;*/
	color: #fff;
	text-transform: uppercase;
	
}

.intro p {

	/*font-size: 1.5vw;*/
	font-size: 8px;
	font-family: helvetica;
	color: #fff;
	width:90%;
	/*margin-left: 100px;
	margin-left: 10%;*/
	/*line-height: 23px;*/
	text-align: center;
	margin: 0 auto;

/*
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);*/
	
}

.mosaic {
	width:100%;
	height: 50%;
	background-image: url('imgs/mosaic.png');
	background-repeat: no-repeat;
	background-size: cover;

}

.mosiac img {
	max-width:100%;

}

.overlay {
	/*z-index: 10;*/
	/*position: fixed;*/
	position: absolute;
	/*width:960px;*/
	overflow: hidden;
	width:100%;
}

#left {
	max-width: 100%;
	position: absolute;
	display: none;
	
}

#right {
	max-width: 100%;
	position: relative;
	z-index: 300;
	display: none;
	
}



#left1 {
	max-width: 100%;
	position: absolute;
	display: none;

}

#right1 {
	max-width: 100%;
	position: relative;
	z-index: 300;
	display: none;
	

}

#left2 {
	max-width: 100%;
	position: absolute;
	display: none;
	
}

#right2 {
	max-width: 100%;
	position: relative;
	z-index: 300;
	display: none;
	
}

#left-side {
	/*border: 1px solid white;*/
	width:100%;
	float: left;
}

#right-side {
	/*border: 1px solid white;*/
	width:100%;
	float:left;
	margin-top: 2%;
	/*margin-bottom:10%;*/
}




.banner-left {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:80%;
	/*margin-top: 12%;*/
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	line-height: 10px;
	padding-bottom: 10%;
	/*border: 1px solid blue;*/

}

.banner-left2 {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:80%;
	margin-left:-5%;
	margin-top: 12%;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left2 p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left2 span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	padding-bottom: 10%;
	line-height: 10px;
	margin-left: 30%;
	/*border: 1px solid blue;*/

}

.banner-left3 {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:80%;
	margin-left:-5%;
	margin-top: 8%;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}


.banner-left3 p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left3 span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	padding-bottom: 10%;
	line-height: 15px;
	/*text-transform: uppercase;*/
	/*margin-left: 15%;*/
	/*border: 1px solid blue;*/

}

.text-background {
	width:90%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	margin-left: 5%;
	text-align: center;
	/*margin: 0 auto;*/
}


.text-background p {
	font-size: 2.5vw;
	min-font-size:8px;
	line-height: 150%;
	color:#fff;
	padding: 2%;
	font-family: helvetica;
}

.text-background2 {
	width:70%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	margin-left: 5%;
	/*border: 1px solid white;*/
}


.text-background2 p {
	font-size: 2.5vw;
	min-font-size:8px;
	line-height: 150%;
	color:#fff;
	padding:4%;
	font-family: helvetica;
	/*border: 1px solid white;*/
}

.text-background3 {
	width:70%;
	background: rgba(204, 204, 204, 0.2);
	margin: 2%;
	margin-left: 5%;
	/*border: 1px solid white;*/
}


.text-background3 p {
	font-size: 2.5vw;
	min-font-size:8px;
	line-height: 150%;
	color:#fff;
	padding: 4%;
	font-family: helvetica;
	/*border: 1px solid white;*/
}


.banner-right {


	background: rgba(218, 119, 68, 0.9);
	width:40%;
	float: right;
	margin-right: -20px;
	display: block;
	/*padding-left: 3%;*/
	z-index: 200;
	/*border: 1px solid red;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);


}

.banner-right p {

	color:white;
	font-size: 2.5vw;
	opacity: 1.0;
	margin: 0;
	padding: 1.5%;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';

	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	 }

#vid1 {
	/*border:1px solid white;*/
	/*float: right;*/
	/*width:40%;*/
	max-width:20%;
	margin-bottom: 2%;
	position: relative;
	margin-left: 5%;
	/*right:-45%;*/

}

#vid2 {
	/*border:1px solid white;*/
	/*float: right;*/
	/*width:40%;*/
	max-width:20%;
	margin-bottom: 2%;
	position: relative;
	margin-left: 5%;
	/*right:-45%;*/

}

#vid3 {
	/*border:1px solid white;*/
	/*float: right;*/
	/*width:40%;*/
	max-width:20%;
	margin-bottom: 2%;
	position: relative;
	margin-left: 5%;
	/*right:-45%;*/

}

#bannerRight1 {
	position: relative;
	padding:0;
	width:100%;
}

#bannerRight2 {
	position: relative;
	width:100%;
}

#bannerRight3 {
	position: relative;
	width:100%;
}


.subCopy {
	float:right;
	font-size: 2.2vw;
	min-font-size:8px;
	width:60%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 2%;
	position: relative;
	/*right:-75%;*/
	

}

.subCopy2 {
	float:right;
	font-size: 2.2vw;
	min-font-size:8px;
	width:60%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 2%;
	position: relative;
	/*right:-75%;*/
	/*display: none;*/

}

.subCopy3 {
	float:right;
	font-size: 2.2vw;
	min-font-size:8px;
	width:60%;
	font-family: 'Helvetica Neue';
	color:white;
	padding: 2%;
	position: relative;
	/*right:-75%;*/
	/*display: none;*/

}


#storiesTop {
	/*width:100%;*/
	/*height:50%;*/
	/*border: 1px solid yellow;*/
}

#storiesTop img {
	float:right;
	width:35%;
	/*margin-right:2%;*/
	margin-top: 8%;
	display: none;
	/*margin-bottom:30%;*/

}

.left-side {
	float:left;
	/*border:1px solid black;*/
	width:100%;
}

.read-more {
	font-size: 1.5vw;
	color: rgba(218, 119, 68, 1); 
	/*text-align: right;*/
	font-family: helvetica;
	font-weight: bold;
	margin: 0;
	/*display: none;*/
}

.read-more a {
	font-size: 1.5vw;
	color: rgba(218, 119, 68, 1); 
	text-align: right;
	font-family: helvetica;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	position: relative;
	margin-left: 60%;
}


#storiesBottom img  {
	/*margin: 10px;*/
	/*float: right;*/
	/*margin-right: 2%;*/
	width:20%;
	display: inline;
	/*width:10%;*/

}

#storiesBottom  {
	width:100%;
	margin-top: 5%;
	margin-left: 5%;
	/*border: 1px solid blue;*/
	/*margin-top: 5%;*/

}


#leftJobs {
	width:100%;
	/*border: 1px solid blue;*/
	float: left;

}


#leftJobs li {
	/*font-size: 20px;*/
	color:rgba(179, 90, 42, 1);
	color: rgba(218, 119, 68, 1);
	text-align: left;
	list-style-type: none;
	margin: 1px;
	font-family: helvetica;
	font-size: 2.3vw;
	min-font-size:10px;

}

#leftJobs li a {
	font-size: 20px;
	color:rgba(179, 90, 42, 1);
	color: rgba(218, 119, 68, 1);
	text-align: left;
	list-style-type: none;
	margin: 1px;
	font-family: helvetica;
	font-size: 1.5vw;
	min-font-size:10px;
	position: relative;
	text-decoration: none;

}

#rightJobs {

	/*border: 1px solid red;*/
	width:100%;
	/*float:right;*/
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	/*margin-top:5%;*/

}

#horizontalImg {
	/*width:80%;*/
}


#rightJobs img {
	/*padding: 2%;*/
	/*margin-right: 5%;*/
	width:25%;
	display:inline;
}


#rightJobs #horizontalImg {
	width:20%;
}

#section1,#section2,#section3 .container {
	background: #475131;
}

footer {
	width:100%;
	background-color:#000;
	bottom:0px;
    position: absolute;
    z-index: 500;
    height:10%;
    margin-top: 5%;
}

footer img {
	max-height: 100%;
}

footer a {
	color:white;
	font-family: helvetica;
	float: right;
	font-size:0.5em;
	line-height: 40px;
	text-decoration: none;
	margin-right:3%;

}



} /* End 320 - 414px */


@media screen and (min-width: 1400px) {

	.banner-left2 {

	/*height:13%;*/
	background: rgba(218, 119, 68, 0.9);
	width:80%;
	margin-left:-5%;
	margin-top: 2%;
	-webkit-transform: skew(205deg);
	   -moz-transform: skew(205deg);
	     -o-transform: skew(205deg);
	
	

}

.banner-left2 p {

	color:white;
	font-size: 4vw;
	opacity: 1.0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	float: right;
	padding-right: 10%;
	padding-top: 1%;
	/*border: 1px solid white;*/
	-webkit-transform: skew(-205deg);
	   -moz-transform: skew(-205deg);
	     -o-transform: skew(-205deg);
	 }


 .banner-left2 span  {
	font-size: 30px;
	font-size: 3vw;
	display: block;
	text-transform: none;
	font-weight: normal;
	padding-bottom: 10%;
	line-height: 10px;
	margin-left: 30%;
	/*border: 1px solid blue;*/

}


	} /* End 1400 */


/* iPad 3 and 4 Portrait */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and ( -webkit-min-device-pixel-ratio: 2) {






} /* End iPad */